[user]
	email = samuli.kupsala@gmail.com
	name = Samuli Kupsala
[alias]
	st = status
	co = checkout
	cob = checkout -b
	rb = rebase
	cp = cherry-pick
	lsh = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	save = !git add -u && git commit -m 'SAVEPOINT'
	visb = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	todo-branches = branch --no-merged master
	logs = log --decorate
	logg = log --stat --decorate
	logp = log --decorate -p -C -w
        fixp = !git add -u && git commit --amend --no-edit
	todo-master = !git merge-base --fork-point master|xargs -I {} git diff {}..HEAD|grep -E -i -C 5 '^\\+.*(TODO|FIXME)'
	delete-merged = !git branch --merged|grep -E -v '(^\\*|master|dev)'|xargs git branch -d
[core]
	excludesfile = /home/skupsala/.gitignore_global
